@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital@0;1&display=swap");
/*CSS Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 28px;
}
body {
  background-color: #f0ead6;
  margin: 60px 30px;
}
h1 {
  font-size: 32px;
  color: #003b54;
  text-align: center;
  padding: 40px 0;
}
.about .intro {
  font-size: 20px;
  color: grey;
  padding-bottom: 5rem;
  text-align: center;
}
.about h1 {
  margin-bottom: 20px;
}
.feature .card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: #d5d5d5;
  overflow: auto;
  border-radius: 10px;
}
.feature .card .title {
  color: red;
  font-size: 18px;
}
.feature .card .fa {
  font-size: 30px;
  margin-top: 10px;
  color: #333;
  background-color: #d5d5d5;
}
.feature .card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.feature .card h2 {
  color: #003b54;
  padding: 10px 0;
}
.feature .card p {
  color: #003b54;
  padding: 10px 0;
}
.feature .card button:hover,
a:hover {
  opacity: 0.7;
}
.feature .card a {
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  background-color: #ffffff;
}

.about-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
}
.feature {
  max-width: 50%;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}
.skills h2 {
  margin-bottom: 2rem;
  color: #003b54;
}
.skills ul {
  line-height: 1.8rem;
  font-size: 16px;
  padding-left: 50px;
  margin-bottom: 5rem;
  color: grey;
}
.col-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 5rem;
  padding: 20px 50px;
}
.col-flex .about-me {
  max-width: 50%;
  padding: 20px 20px;
  background-color: #d5d5d5;
  border-radius: 10px;
}
.col-flex h2 {
  color: #003b54;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.col-flex p {
  color: #003b54;
  padding: 10px 30px;
  text-align: center;
}
.col-flex .text-wrapper {
  margin-bottom: 20px;
}
.loader-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.loader {
  position: relative;
  width: 120px;
  height: 140px;
  background-image: radial-gradient(circle 30px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    radial-gradient(circle 5px, #fff 100%, transparent 0),
    linear-gradient(#fff 20px, transparent 0);
  background-position: center 127px, 94px 102px, 16px 18px, center 114px;
  background-size: 60px 60px, 10px 10px, 10px 10px, 4px 14px;
  background-repeat: no-repeat;
  z-index: 10;
  perspective: 500px;
}
.loader::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
  border-right-color: transparent;
  box-sizing: border-box;
}
.loader::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg);
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  border: 7px solid #ff3d00;
  border-radius: 50%;
  animation: rotate 0.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg);
  }
}
.bottom {
  margin: 1rem auto;
  text-align: center;
  background-color: #003b54;
  padding: 10px;
  margin: 20px 50px;
}
.bottom a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
